<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>강좌 수정</title>
    </head>
    <body>
        <h1>강좌 수정</h1>
        <form method="POST" action="{% url 'edit_course' course.id %}">
            {% csrf_token %}
            <label for="name">강좌 이름</label>
            <input
                type="text"
                id="name"
                name="name"
                value="{{ course.name }}"
                required
            />
            <br />
            <label for="description">강좌 설명</label>
            <textarea id="description" name="description" required>
{{ course.description }}</textarea
            >
            <br />
            <button type="submit">수정 완료</button>
        </form>
    </body>
</html>
